{% extends "base.html" %}

{% block content %}
		<div class="button top">
			<a href="{{ url_for('home') }}">Back</a>
		</div>
		<div class="subttl">
			<h1> Join Game </h1>
		</div>
		<div class="form join">
			<form action="" method="post" novalidate>
			{{ form.csrf_token }}
			<p><center>
				{{ form.roomcode.label }}<br>
				{{ form.roomcode(size=32) }}<br>
				{% for error in form.roomcode.errors %}
				<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
				<br>
				{{ form.name.label }}<br>
				{{ form.name(size=32) }}<br>
				{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
				<br>
				{{ form.create() }}
				<br> </center></p>
		</form>
		</div>
{% endblock %}