html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #e5e2c9;
}


.wrap {
	align-items: center;
}

.title {
	text-align: center;
	font-family: 'Abberancy-Regular';
	font-size: 3.3rem;
}

.subttl {
	text-align: center;
	font-family: 'Abberancy-Regular';
	font-size: 2rem;
}

.center {
	align-items: center;
	justify-content: center;
}

.button a {
  -webkit-appearance: none;
  background: -webkit-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
  background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
  border-top: 18px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 9px;
  padding-top: 9px;
  border-radius: 5rem;
  border-style: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  width: 20rem;
  letter-spacing: 0.20rem;
  background-size: 300%;
  text-decoration: none;
  color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 1em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: 0% 50%;
  transition: background-position 1s;
}


.button a:hover {
  background-position: 100%
}

.button a:focus {
  color: white;
}

.back {
    background: -webkit-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
    background: linear-gradient(to right,#a2ccb6 0%,#fceeb5 50%,#ee786e 100%);
	border-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 3.75rem;
    border-style: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    width: 15rem;
    letter-spacing: 0.13rem;
    background-size: 300%;
    text-decoration: none;
    color: white;
	font: 0.5em Raleway, sans-serif;
}
.top {
	margin-top: 17px;
	margin-left: 5px;
}


@font-face {
  font-family: 'Abberancy-Regular';
  src: url('Abberancy-Regular.svg#Abberancy-Regular') format('svg'),
       url('Abberancy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abberancy';
  src: url('abberancy.eot');
  src: url('abberancy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


